<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.t25alpha">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Videos"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Grafico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Staturday"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dias"
            android:label="@string/title_activity_dias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PerfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menuPrincipal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestablecerContrasena"
            android:theme="@style/Theme.MaterialComponents.Light" />
        <activity
            android:name=".CrearUsuari"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main_semanas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BDMain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>